<form (submit)="login()">
  <div class="mb-4">
    <mat-form-field class="w-100">
      <input matInput type="email" placeholder="Email"  [formControl]="usernameControl">
    </mat-form-field>
  </div>
  <div class="mb-4">
    <mat-form-field class="w-100">
      <input matInput type="password" placeholder="Password"  [formControl]="passwordControl">
    </mat-form-field>
  </div>
  <div class="mb-3">
    <mat-checkbox>Remember Me</mat-checkbox>
    <span fxFlex></span> <a [routerLink]="['/session/forgot-password']">Forgot Password?</a>
  </div>
  <button color="accent" class="button-lg mb-3" mat-raised-button type="submit">Sign In</button>
  <p>Don't have an account? <a [routerLink]="['/session/signup']">Click here to create one</a></p>
</form>